.font(@fontFamily; @weight: normal; @fontName: @fontFamily@weight; @style: normal; @path: "") {
  font-family: '@{fontFamily}';
  font-display: swap;
  src: local('@{fontFamily}'),
    //url('../font/@{path}@{fontName}.woff2') format('woff2'),
    //url('../font/@{path}@{fontName}.woff') format('woff'),
    url('../font/@{path}@{fontName}.eot') format("eot"),
    url('../font/@{path}@{fontName}.svg') format('svg'),
    url('../font/@{path}@{fontName}.eot#iefix') format('embedded-opentype'),
    url('../font/@{path}@{fontName}.ttf') format('truetype');
  font-weight: @weight;
  font-style: @style;
}

.pxToEm(@px, @base: @fontSize){
  @pxToEm: @px / @base + 0em;
}
.pxToEm2(@px, @base: @fontSize){
  @pxToEm2: @px / @base + 0em;
}
.pxToEm3(@px, @base: @fontSize){
  @pxToEm3: @px / @base + 0em;
}

.center(){
  display: flex;
  align-items: center;
  justify-content: center;
}


