header.header 
	section.navigation-wrapper
		.navigation.container
			a(href="#")#logo Logo

			nav.nav
				for item in [1, 2, 3]
					a(href='#')._item= 'Пункт меню ' + item

			._call.btn.btn--main Обратный звонок

	.header-content.container
		._headers
			h2._h2 ВСЕ ВИДЫ РАБОТ.
			h3._h3 ПРЕМИАЛЬНОЕ КАЧЕСТВО ПО ДОСТУПНЫМ ЦЕНАМ.

		form._form
			input(placeholder="+7 (___) - __ -  __").btn._input
			button.btn.btn--main Обратный звонок


