header.header 
	section.navigation.container
		#logo Logo

		nav
			for item in [1, 2, 3]
				a(href='#')._item= 'Пункт меню ' + item

		._call.btn.btn--main Обратный звонок

	._text.container
		h2 ВСЕ ВИДЫ РАБОТ. 
		h3 ПРЕМИАЛЬНОЕ КАЧЕСТВО ПО ДОСТУПНЫМ ЦЕНАМ.

		form.header__form
			input.header__input
			button.btn.btn--main Обратный звонок


