extends template/template.pug

block title
	title= 'test'
	meta(name='description', content='Тестовое задание')

block main
	main

		include template/main/cars
		
		include template/main/questions
		
		include template/main/map






