extends template/template.pug

block title
	title= 'proContext'
	meta(name='description', content='Тестовое задание для proContext')

block main
	
	h1 #{hhh}

	include template/main/cars
	
	include template/main/questions
	
	include template/main/map






